.Post {
  border: 1px solid #333;
  padding: 10px 10px 0;
  margin-bottom: 10px;
  position: relative;
}
.Post:last-child {
  margin-bottom: 0;
}

.Post-date {
  color: #888;
  font-size: 12px;
}

.Post-title {
  min-height: 21px;
}

.Post-title, .Post-description {
  font-size: 18px;
  margin: 10px 0;
}

.Post-description {
  margin: 0 -10px;
  padding: 15px 10px;
  border-top: 1px solid #aaa;
  background-color: #ccc;
  white-space: pre-line;
}

.Post button {
  padding: 5px 8px;
  margin-bottom: 10px;
}

.additionalButtons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.additionalButtons button {
  margin: 0 0 0 5px;
}