* {
  box-sizing: border-box;
}

.Blog {
  margin: 15px auto;
  width: 680px;
  padding: 0 15px;
  border: 2px solid #777;
  /*position: relative;*/
}

.Blog-body {
  padding: 15px 0;
}

.Blog-body > h3, .Blog-body > p {
  margin: 0 0 10px;
}

.Preloader {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background: rgba(255, 255, 255, 0.7) url(./ic-preloader.png) 50% 40% no-repeat;
}