.PostEdit h3 {
  margin: 0 0 10px;
}
.PostEdit label {
  margin: 5px 0;
}
.PostEdit textarea, .PostEdit input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
.PostEdit textarea {
  resize: none;
}
.PostEdit button {
  padding: 5px 10px;
  margin-top: 5px;
}