.Header {
  margin: 0 -15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #777;
}
.Header a {
  text-decoration: none;
  color: #000;
}
.Header nav a {
  padding: 5px 8px;
  border-right: 1px solid #000;
  transition: 0.3s;
}
.Header nav a:last-child {
  border-right: none;
}
.Header nav a:hover {
  opacity: 0.66;
}
.Header nav a.active {
  color: #066;
}