.PostsAdd h3 {
  margin: 0 0 10px;
}
.PostsAdd label {
  margin: 5px 0;
}
.PostsAdd textarea, .PostsAdd input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}
.PostsAdd textarea {
  resize: none;
}
.PostsAdd button {
  padding: 5px 10px;
  margin-top: 5px;
}